*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
}
main{
    width: 100%;
    height: 683px;
    
    background-image:linear-gradient(rgba(4,9,30,0.4),rgba(4,9,30,0.4)), url("donatehomepage.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}
.heading{
    margin-left: 20px!important;
    position: absolute;
    top:35%;
    left: 7%;
    color:azure ;

   
}
.navbar-brand{
    color:rgb(61, 43, 172)!important;
    margin-left: 80px!important;
   
    font-weight: 400!important;
}
.navbar .nav-item .nav-link {
    color:darkslateblue !important;
    font-weight: 600;
    font-size: 17px;
    background: #FF5733 ;
    border-radius: 40px;
    padding: 10px 25px!important;
    
  
}
.navbar .nav-item .nav-link:hover{
    color: #FF5733!important;
    background: rgb(61, 43, 172);


}
.navbar .nav-item {
    padding: 5px 13px;
}
    
.ctn{
    color:darkslateblue !important;
    font-weight: 600;
    font-size: 20px;
    background: #FF5733 ;
    border-radius: 40px;
    padding: 15px 25px!important;
    text-decoration: none;
    margin-top:20px!important;
}
.ctn:hover{
    color: #FF5733!important;
    background: rgb(61, 43, 172);
}
.shade{
    background-color: aliceblue;
    font-family:sans-serif;
    width: 80%;
    height: 170px;
    margin-left: 150px;
}

.shade h2{
    text-align: center;
    padding:20px;
}
.shade p{
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
}
.sec{
    background-color:#FF5733;
    color: white;
}
.section{
    padding: 50px;
}
.img-donate{
    height: 250px;
    width: 250px;


}
.content{
    margin-left: 100px;
    margin-top: 20px;

}
.datra{
    display: block;
}

.fa{
    color:#FF5733!important;
}
.hr_head::before{
    content: '';
        background: #FF5733;
        height: 5px;;
        width: 160px;
        margin-left:20px;
        display: block;
        transform: translateY(63px);
}
.hr_head{
    margin-bottom: 2px;
}
.para{
    font-size: 17px;
    font-weight:bold;
    margin-top: 30px;
   

}
.detail{
    
    box-shadow: 2px 2px 2px  gray;
    
    margin-top: 20%;
    height: 450px;
    width: 450px;
    
    
}

.detail label{
    font-size: 15px;
    font-weight: bold;
}
.btn{
    margin-left: 170px;

}


